
* {
	margin: 0px;
	padding: 0px;
}

#jsdiv {
	width: 295px;
	height: 295px;
	background: url(../img/idx/0a.gif);
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -188px;
	margin-left:-148px;
	text-align: center;
	vertical-align: middle;
}

span {
	font-size: 24px;
	vertical-align: middle;
	display: inline-block;
	padding-top: 80px;
	color: #1874CD;
}

.inid {
	width: 180px;
	height: 36px;
	font-size: 16px;
	text-indent: 20px;;
	color: #fff;
	border-radius: 5px 25px 5px 25px;
	background-color: #66ccff;
	display: inline-block;
	margin-top: 15px;
}

.sb {
	display: block;
	margin-top: 30px;
}

#a1{
background: url(../img/idx/1a.gif);
width: 280px;
height: 139px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left:-140px;
margin-top: -327px;
}
#a1:hover{
background: url(../img/idx/1b.gif);
}
#a2{
background: url(../img/idx/2a.gif);
width: 201px;
height: 241px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left:89px;
margin-top: -287px;
}
#a2:hover{
background: url(../img/idx/2b.gif);
}#a3{
background: url(../img/idx/3a.gif);
width: 201px;
height: 243px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left: 89px;
margin-top: -34px;
}
#a3:hover{
background: url(../img/idx/3b.gif);
}#a4{
background: url(../img/idx/4a.gif);
width: 285px;
height: 138px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left:-142px;
margin-top:111px;
}
#a4:hover{
background: url(../img/idx/4b.gif);
}#a5{
background: url(../img/idx/5a.gif);
width: 200px;
height: 241px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left:-291px;
margin-top: -32px;
}
#a5:hover{
background: url(../img/idx/5b.gif);
}#a6{
background: url(../img/idx/6a.gif);
width: 201px;
height: 240px;

display:block;
position: absolute;
left:50%;
top:50%;
margin-left:-289px;
margin-top: -285px;
}
#a6:hover{
background: url(../img/idx/6b.gif);
}


img {display£ºblock;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -100;
	draggable="false";
}